/* ----------
  door
------------*/
.door-wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/back_image_mori.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tittle {
    position: fixed;
    width: 100%;
    left: 50%;
    font-family: 'HeartlandRegular';
    transform: translate(-50%, 30%);
    color: #ee6868;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 5px #ffffff;
}

.door, .door-back, .monster{
    position: absolute;
    top: 42.5%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
}

.door{
    z-index: 10;
    transition: 3s;
    transform: translate(-50%, -50%);
    transform-origin: right;
}

.door-back{
    z-index: 5;
}

.monster{
    width: 300px;
}

/* ----------
  button
------------*/
.btn-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-list li{
    width: 250px;
    text-align: center;
}

.btn-list li button{
    width: 150px;
    height: 30px;
}
.btn-list li button:hover { 
    background-color: silver;
}


/* ----------
  answer-list
------------*/
.answer-list{
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row;
}

.answer-text{
    margin: 20px;
    width: 200px;
    padding: 30px 100px 30px 10px;
    color: #000000;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    background: #f1e767;
    /* background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%); */
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}
.answer-list li:hover { 
    /* background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%); */
    background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}

.answer-text p{
    width: 280px;
    text-align: center;
    font-weight: bold;
}

/* ----------
  answer
------------*/
#result{
    color: seashell;
    text-align: center;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 5px #f51818;
}